.reveal section img { 
  margin-left: auto;
  margin-right: auto;
}

h1 {
  text-align: center;
}

td {
  padding: 0.5em;
}

.rendered_html table {
  font-size: 1em;
}

.rendered_html blockquote {
  width: 95%;
  margin: auto auto;
}

blockquote {
  border-left: 5px solid deepskyblue;
}

.flex-row {
  display: flex;
}

.flex-col-3 {
  flex: 33.33%;
  padding: 5px;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}